<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    routerLink="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <img
      src="../../assets/logo-icon.svg"
      class="bi me-2"
      alt="logo icon"
      style="width: 40px; height: 32px"
    />

    <span class="fs-5">youQuote</span>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a
        routerLink="/quotes"
        routerLinkActive="fw-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link px-2 link-dark"
        >{{ "navigation.quotes.all" | translate }}</a
      >
    </li>
    <li>
      <a
        *ngIf="isAuth"
        routerLink="/my-quotes"
        routerLinkActive="fw-bold"
        class="nav-link px-2 link-dark"
        >{{ "navigation.quotes.my" | translate }}</a
      >
    </li>
  </ul>

  <div class="col-md-3 text-end d-flex justify-content-end gap-2">
    <button
      routerLink="/quotes/add"
      routerLinkActive="active"
      *ngIf="isAuth"
      type="button"
      class="btn btn-outline-dark"
    >
      {{ "navigation.quotes.add" | translate }}
    </button>
    <button
      routerLink="/sign-in"
      *ngIf="!isAuth"
      type="button"
      class="btn btn-dark"
    >
      {{ "navigation.auth.signIn" | translate }}
    </button>
    <button
      *ngIf="isAuth"
      type="button"
      class="btn btn-dark"
      (click)="onLogout()"
    >
      {{ "navigation.auth.logout" | translate }}
    </button>

    <select
      class="form-select form-select-sm"
      style="max-width: 30%"
      (change)="onLangChange($event)"
    >
      <option value="en" [selected]="language === 'en'">English (EN)</option>
      <option value="es" [selected]="language === 'es'">Español (ES)</option>
    </select>
  </div>
</header>
