<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <a
    routerLink="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <img
      src="../../assets/logo-icon.svg"
      class="bi me-2"
      alt="logo icon"
      style="width: 40px; height: 32px"
    />

    <span class="fs-5">youQuote</span>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a
        routerLink="/quotes"
        routerLinkActive="fw-bold"
        class="nav-link px-2 link-dark"
        >All Quotes</a
      >
    </li>
    <li>
      <a
        *ngIf="isAuth"
        routerLink="/my-quotes"
        routerLinkActive="fw-bold"
        class="nav-link px-2 link-dark"
        >My Quotes</a
      >
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <button
      routerLink="/quotes/add"
      routerLinkActive="active"
      *ngIf="isAuth"
      type="button"
      class="btn btn-outline-dark me-2"
    >
      Add Quote
    </button>
    <button
      routerLink="/sign-in"
      *ngIf="!isAuth"
      type="button"
      class="btn btn-dark"
    >
      Sign In
    </button>
    <button
      *ngIf="isAuth"
      type="button"
      class="btn btn-dark"
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>
</header>
