<h2 class="h3 fw-bold mb-4">Add a Quote</h2>
<form #addQuoteForm="ngForm" (submit)="onFormSubmit(addQuoteForm)">
  <div class="mb-3">
    <label for="author" class="form-label">{{
      "page.quotes.addOrEdit.author" | translate
    }}</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      #author="ngModel"
      ngModel
      required
      minlength="2"
    />
    <p
      *ngIf="!author.valid && author.touched"
      class="text-danger error-tooltip"
    >
      {{ "page.quotes.addOrEdit.invalidAuthor" | translate }}
    </p>
  </div>
  <div class="mb-3">
    <label for="quote" class="form-label">{{
      "page.quotes.addOrEdit.content" | translate
    }}</label>
    <textarea
      id="content"
      name="content"
      class="form-control"
      rows="5"
      #content="ngModel"
      ngModel
      required
      minlength="20"
    ></textarea>
    <p
      *ngIf="!content.valid && content.touched"
      class="text-danger error-tooltip"
    >
      {{ "page.quotes.addOrEdit.invalidContent" | translate }}
    </p>
  </div>
  <div *ngIf="!(loadingService.isLoading | async); else loading" class="mt-4">
    <button
      type="submit"
      class="btn btn-dark me-3"
      [disabled]="!addQuoteForm.valid"
    >
      {{ "page.quotes.addOrEdit.create" | translate }}
    </button>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</form>
