<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-container *ngIf="!(loadingService.isLoading | async); else loading">
  <h2 class="h3 fw-bold mb-4">Edit Quote</h2>
  <app-error *ngIf="error" [error]="error"></app-error>
  <form #editQuote="ngForm" (ngSubmit)="onEdit(editQuote)">
    <div class="mb-3">
      <label for="email" class="form-label">Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        name="author"
        #author="ngModel"
        [ngModel]="quote?.author ?? ''"
        required
        minlength="2"
      />
      <p
        *ngIf="!author.valid && author.touched"
        class="text-danger error-tooltip"
      >
        Enter a valid author (at least 2 characters)!
      </p>
    </div>
    <div class="mb-3">
      <label for="quote" class="form-label">Content</label>
      <textarea
        id="content"
        name="content"
        class="form-control"
        rows="5"
        #content="ngModel"
        [ngModel]="quote?.content ?? ''"
        required
        minlength="20"
      >
      </textarea>
      <p
        *ngIf="!content.valid && content.touched"
        class="text-danger error-tooltip"
      >
        Invalid quote content (at least 20 characters)!
      </p>
    </div>
    <div *ngIf="!(loadingService.isLoading | async); else loading" class="mt-4">
      <button
        type="submit"
        class="btn btn-dark me-3"
        [disabled]="!editQuote.valid"
      >
        Edit Quote
      </button>
    </div>
    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </form>
</ng-container>
