<ul class="list-unstyled" *ngIf="!(loadingService.isLoading | async) && !error">
  <li *ngFor="let quote of quotes; let i = index" class="mb-4">
    <app-single-quote [quote]="quote">
      <div class="d-flex justify-content-between">
        <span class="align-self-center">{{
          "page.quotes.all.quoteNum" | translate: { quoteNumber: i + 1 }
        }}</span>
        <button
          class="btn btn-sm btn-outline-light"
          [routerLink]="[quote.id, 'details']"
        >
          {{ "page.quotes.all.details" | translate }}
        </button>
      </div>
    </app-single-quote>
  </li>
</ul>
<app-loading-spinner
  *ngIf="(loadingService.isLoading | async) && !error"
></app-loading-spinner>
<app-error
  *ngIf="error && !(loadingService.isLoading | async)"
  [error]="error"
></app-error>

<h1 class="h5 text-center" *ngIf="!quotes">
  {{ "page.quotes.all.noQuotes" | translate }}
</h1>
