<app-loading-spinner
  *ngIf="!error && (loadingService.isLoading | async)"
></app-loading-spinner>

<app-error
  *ngIf="error && !(loadingService.isLoading | async)"
  [error]="error"
></app-error>

<div
  *ngIf="!error && !(loadingService.isLoading | async)"
  class="card shadow-sm mb-2"
>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ quote.content }}</p>
      <footer class="blockquote-footer">
        <cite title="Source Title">{{ quote.author }}</cite>
      </footer>
    </blockquote>
  </div>
  <div *ngIf="authService.user | async" class="card-footer">
    <like [(liked)]="liked" (onLike)="onLikeHandler($event)"></like>
    <comment [(clicked)]="commentClicked"></comment>
  </div>
</div>

<div class="small mb-3">
  <span class="fw-bold">{{ likes }} </span>
  <span class="text-muted">{{ "page.quotes.details.likes" | translate }}</span>
</div>

<comment-form *ngIf="commentClicked" [quoteId]="quoteId"></comment-form>

<ng-container *ngIf="commentService.commentsChange | async as comments">
  <hr />

  <h2 class="h5 mb-4">Comments</h2>

  <ul class="list-unstyled">
    <li *ngFor="let comment of comments">
      <single-comment [commentData]="comment"></single-comment>
    </li>
  </ul>
</ng-container>
