<ng-container *ngIf="!(loadingService.isLoading | async); else loading">
  <ul *ngIf="userQuotes.length; else noQuotes" class="list-unstyled">
    <li *ngFor="let quote of userQuotes" class="mb-4">
      <app-single-quote [quote]="quote">
        <div class="float-end">
          <button
            class="btn btn-sm btn-outline-light me-2"
            [routerLink]="['./', quote.id, 'edit']"
          >
            {{ "page.quotes.my.edit" | translate }}
          </button>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="openModal(modal, quote.id!)"
          >
            {{ "page.quotes.my.delete" | translate }}
          </button>
        </div>
      </app-single-quote>
    </li>
  </ul>

  <ng-template #noQuotes>
    <p class="text-center fs-4">You have no added quotes!</p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "modal.confirmMsg" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">
      {{ "modal.confirm" | translate }}
    </button>
    <button type="button" class="btn btn-dark" (click)="d('Cross click')">
      {{ "modal.cancel" | translate }}
    </button>
  </div>
</ng-template>
